
        <h1>
            Codeial / Profile Page
        </h1>

<% if(user.id==profile_user.id){%>
    <!-- if user matches to his own profile, then only the form should visible -->
    <form action="/users/update/<%= profile_user.id%>" method="POST">
    <input type="text" name="name" placeholder="your Name..." value="<%= profile_user.name%>" required> <br>
    <input type="email" name="email" placeholder="your Email..." value="<%= profile_user.email%>" required> <br>
    <button>update</button>
</form>
    <%}else{%>
        <!-- if user don't matches only shows the details or profile info -->
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
    <%}%>